* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  border: 1px solid rebeccapurple;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 3vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.navbar_left {
  /* border: 2px dotted lime; */
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar_right {
  /* border: 2px dotted lime; */
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar li {
  /* border: 1px red solid;*/
  list-style-type: none;
}

.navbar .link {
  display: grid;
  text-decoration: none;
  align-items: center;
}